@{
    ViewBag.Title = "About";
}
@using EnterpriseCatalog.Core
<h2>About</h2>
<p class="center-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam lectus, hendrerit at lacus id, sodales feugiat erat. Fusce justo lectus, interdum eget velit nec, sodales gravida ante. Maecenas vitae faucibus metus. Cras nec libero ac erat efficitur accumsan. Etiam vehicula aliquam porttitor. Donec fringilla semper felis, vel tristique augue consequat at. Suspendisse nec augue vehicula, sollicitudin lacus vitae, vestibulum felis. Duis rutrum rhoncus odio eu mollis. Proin dapibus ligula in augue vehicula, id mattis lectus hendrerit. Nulla sagittis volutpat neque quis molestie.

Etiam ante purus, pellentesque vitae ex in, accumsan pulvinar dui. Praesent euismod ac urna at maximus. In dapibus, enim eu egestas efficitur, libero dui ornare justo, quis feugiat quam augue eu tellus. Integer eu commodo elit. Nunc commodo convallis erat, ac molestie purus mattis vitae. Donec lectus quam, volutpat sit amet odio et, egestas vestibulum mi. Cras rutrum augue sit amet eros sodales vestibulum. Quisque ut massa ut justo feugiat vestibulum eget ac turpis. Pellentesque tincidunt maximus sapien, a elementum massa facilisis id. Aenean varius, tortor ut molestie tempor, metus nunc sodales odio, ut auctor dui sem in magna.

Integer in tortor ut dui tempus tempus non nec nulla. Vivamus vitae justo sodales, ullamcorper tellus vitae, elementum lorem. Phasellus ut arcu leo. Morbi erat tellus, pretium in tincidunt eget, tempor vel sem. In iaculis tincidunt diam eget congue. In aliquet arcu mauris, vel placerat diam egestas vitae. Cras hendrerit ut elit a auctor. Praesent et tincidunt diam. Morbi est nisi, dictum sit amet molestie ut, interdum sit amet nibh. Aliquam erat volutpat. Vestibulum ut viverra urna, quis tincidunt purus. Nam eu luctus odio, nec feugiat massa. Morbi tempor interdum aliquam.

Cras ornare volutpat nibh, vel interdum nisl feugiat eu. Morbi hendrerit auctor commodo. Cras molestie magna orci, eget eleifend magna pharetra dictum. Nam id luctus lectus, sed luctus ante. Aenean semper enim condimentum vulputate laoreet. Mauris sit amet lorem eget nisi ullamcorper ultrices sit amet at ipsum. Integer sodales ex ut arcu maximus faucibus.</p>

<p>
    Ви завантажили цю сторінку о:@DateTime.Now.ToLongTimeString()
    Зараз:@Html.Substitution(c=>DateTime.Now.ToLongTimeString())
</p>