@{
    ViewBag.Title = "Myzlo";
}

<h2>Myzlo</h2>
<div class="row" style="float:left;">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/23XRpgnj4rY.jpg" class="center-align">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>
                    Мене звати Мирослав, я єбашшу гуд найт лефт сайд.
                    Рускіє сасут                  
                </p>
            </div>
            <div class="card-action">
                Якшо я тобі сподобався то тобі <a href="#">сюда</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="float:left;">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/hU74RyW9MA0.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>
                    Я Танюшка, я люблю Валіка.Ми скоро поженимся і я уєду навсегда з села
                </p>
            </div>
            <div class="card-action">
                Якшо я тобі сподобався то тобі <a href="#">сюда</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="float:left;">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/SAA1_MblsQY.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>
                    Я Валентін Алейніков. Я командир Модного приговора.
                    Если ты на подкатах - давай бороться на матах
                </p>
            </div>
            <div class="card-action">
                Якшо я тобі сподобався то тобі <a href="#">сюда</a>
            </div>
        </div>
    </div>
</div>